<?xml version="1.0" encoding="utf-8"?>
<!-- Note: This file is intentionally placed outside ("above") project-level directories to avoid publicly exposing the Sorento feed location-->
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="Sorento_PublicPackages" value="https://pkgs.dev.azure.com/project-argos/Sorento/_packaging/Sorento_PublicPackages/nuget/v3/index.json" />
  </packageSources>
</configuration>